<li class="li-hover">
  <div class="divider"></div>
</li>
<li class="li-hover">
  <p class="ultra-small margin more-text">{{text}}</p>
</li>
{{yield}}
<li class="li-hover"><div class="divider"></div></li>
