<section id="content">
    <div class="container">
        <div id="card-widgets">
            <div class="row">
              <div id="wrapper" style="text-align: center">
                  <div id="yourdiv" style="display: inline-block;">
                      {{#each model as |user|}}
                        {{#each user.universities as |university|}}
                          <div id="yourdiv" style="display: inline-block;">


                            <!-- {{widgets/map-card}} -->
                            {{#link-to 'adminhome'}}
                              {{widgets/university-card
                                 innitials= university.innitials
                                 speciality=university.specialisation
                                 started=university.startedyear
                                 title=university.name
                                 ownerpic="https://i.warosu.org/data/jp/img/0136/46/1434257748407.jpg"
                                 logo="http://demo.geekslabs.com/materialize/v2.2/layout01/images/gallary/30.jpg"
                                 ownername=university.user.firstname
                            }}
                            {{/link-to}}





                          </div>
                        {{/each}}
                      {{/each}}
                    </div>
                  </div>
              </div>
            </div>
        </div>
</section>
