<div class="col s12 m4 l3 hide-on-med-and-down">
  {{items/user-card name=student.user.firstname phone="+1 (612) 222 8989" mail="mail@domain.com"}}
</div>

<div class="col s12 m8 l6">
  {{layouts/clicked-item-more-details
    student=student
    profileRoute=profileRoute
    paymentsRoute=paymentsRoute
    faultsRoute=faultsRoute
  }}
</div>
