<div class="col s12 m4 l3 hide-on-med-and-down">
  {{items/user-card name="Caroline Wambui" phone="+1 (612) 222 8989" mail="mail@domain.com"}}
</div>

<div class="col s12 m8 l6">
  {{layouts/list-details-preview/student-details-view
    profileRoute=profileRoute
    paymentsRoute=paymentsRoute
    faultsRoute=faultsRoute
  }}
</div>
