{{wrappers/top-nav color="blue" searchterm=model.name}}

<div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">


            {{widgets/admin-sidenav
               username=model.user.firstname


               allstudents=model.totalStudents
               activestudents=model.universityactivestudentlist.Totalstudents
               donestudents=model.universitydonestudentlist.Totalstudents
               issuesstudents=model.universityissuesstudentlist.Totalstudents

               logout="logout"
               viewprofile="viewprofile"
               viewsettings="viewsettings"
               viewhelp="viewhelp"
               locksession="locksession"
              }}

              {{outlet}}

            {{wrappers/chat-nav}}

        </div>

    </div>
