{{wrappers/top-nav color="cyan"}}

<div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">


            {{widgets/admin-sidenav}}

              {{outlet}}

            {{wrappers/chat-nav}}

        </div>

    </div>
