{{wrappers/top-nav color="cyan" searchterm=model.name}}

<div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">


            {{widgets/admin-sidenav
               username=model.user.firstname
               logout="logout"
               viewprofile="viewprofile"
               viewsettings="viewsettings"
               viewhelp="viewhelp"
               locksession="locksession"

              }}

              {{outlet}}

            {{wrappers/chat-nav}}

        </div>

    </div>
