<li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="{{icon}}"></i>{{text}}</a>
    <div class="collapsible-body" style="">
        <ul>
            {{yield}}
        </ul>
    </div>
</li>
