<h1>This is an awesome choics</h1>

<p>
{{#link-to 'test.datanodes'}}data-nodes{{/link-to}}
{{#link-to 'test.excell'}}data-edges{{/link-to}}
</p>

{{outlet}}

<!-- {{cool-modal}}

awesome is:{{model.name}} -->
