<div class="row">
  <div class="col s12 m3 l3">




    <ul id="task-card" class="collection with-header">
      <li class="collection-header cyan">
        <h5 class="task-card-title">
          <a class="btn-floating cyan waves-effect waves-light "><i class="mdi-action-print"></i></a> Active students
        </h5>
      </li>

      <a href="#!" class="collection-item">
        Branson Gitomeh
        <a href="#!" class="small secondary-content">14/01673</a>
      </a>

      <a href="#!" class="collection-item cyan active">
        Caroline Wambui
        <a href="#!" class="small secondary-content">14/01673</a>
      </a>
      <a href="#!" class="collection-item">
        Geofrey Wangangi
        <a href="#!" class="small secondary-content">14/01673</a>
      </a>
      <a href="#!" class="collection-item">
        Mighty Kingkong
        <a href="#!" class="small secondary-content">14/01673</a>
      </a>
      <a href="#!" class="collection-item">
        Branson Gitomeh
        <a href="#!" class="small secondary-content">14/01673</a>
      </a>
      <a href="#!" class="collection-item">
        Caroline Wambui
        <a href="#!" class="small secondary-content">14/01673</a>
      </a>
      <a href="#!" class="collection-item">
        Geofrey Wangangi
        <a href="#!" class="small secondary-content">14/01673</a>
      </a>
      <a href="#!" class="collection-item">
        Mighty Kingkong
        <a href="#!" class="small secondary-content">14/01673</a>
      </a>
      <a href="#!" class="collection-item">
        Caroline Wambui
        <a href="#!" class="small secondary-content">14/01673</a>
      </a>
      <a href="#!" class="collection-item">
        Geofrey Wangangi
        <a href="#!" class="small secondary-content">14/01673</a>
      </a>

    </ul>

    <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="mdi-navigation-chevron-left"></i></a></li>
      <li class="active cyan"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a></li>
    </ul>
  </div>
</div>
