<ul id="task-card" class="collection with-header">
      <li class="collection-header cyan">
        <h6 class="task-card-title">
          <a class="btn-floating cyan waves-effect waves-light "><i class="mdi-action-print"></i></a> {{title}}
        </h6>
      </li>
      {{yield}}
    </ul>
      <ul class="pagination">
      <li class="waves-effect disabled"><a href="#!"><i class="mdi-navigation-chevron-left"></i></a></li>

      <li class="waves-effect"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>

      <li class="waves-effect"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a></li>
    </ul>
