{{wrappers/top-nav color="cyan"}}

<div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">


            {{widgets/admin/side-nav}}

              {{outlet}}
              
            {{wrappers/chat-nav}}

        </div>

    </div>
