<div id="flight-card" class="card hoverable">
    <div class="card-header cyan">
        <div class="card-title">
            <h4 class="flight-card-title truncate">{{title}}</h4>
            <p class="flight-card-date">{{speciality}}</p>
        </div>
    </div>
    <div class="card-content-bg white-text">
        <div class="card-content">
            <div class="row flight-state-wrapper">

                <div class="col s2 m2 l2 center-align">
                </div>

                {{!
                --expose the img attribute on this elements css so that we can set the backgound og=f this type of card dynamically
                #ugly_hack
                --}}

            </div>
            <div class="row">
                <div class="col s6 m6 l6 center-align">
                    <div class="flight-info">
                        <p class="small"><span class="grey-text text-lighten-4">Departm..:</span>200</p>
                        <p class="small"><span class="grey-text text-lighten-4">Courses:</span>60</p>
                        <p class="small"><span class="grey-text text-lighten-4">units:</span>200</p>
                    </div>
                </div>
                <div class="col s6 m6 l6 center-align flight-state-two">
                    <div class="flight-info">
                        <p class="small"><span class="grey-text text-lighten-4">Lecturers:</span>367</p>
                        <p class="small"><span class="grey-text text-lighten-4">Students:</span>500</p>
                        <p class="small"><span class="grey-text text-lighten-4">Employees:</span>342</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
