<div class="blog-card hoverable">
<div class="card">
    <div class="card-image">
        <img src="http://demo.geekslabs.com/materialize/v2.2/layout01/images/gallary/30.jpg" alt="blog-img">
    </div>

    <div class="card-content">
        <p class="row">
          <span class="left"><a href="">School of Bussnes</a></span>
          <span class="right">18th June, 2015</span>
        </p>
        <h4 class="card-title grey-text text-darken-4"><a class="grey-text text-darken-4">
          Salsa University
        </a>
        </h4>
        <div class="row">
          <div class="col s2">
            <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
          </div>
          <div class="col s9"> Owned by <a>Branson Gitomeh</a></div>
        </div>
    </div>
    
</div>
</div>
