<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-{{position}}">
    <nav class="{{color}}">
      <div class="nav-wrapper">
        {{yield}}
      </div>
    </nav>
  </div>
</header>
