<br>
<div class="center-align">
{{test/excell/input-component fileChanged="process"}}
or try <a href="https://raw.githubusercontent.com/salsaUniversity/ember-university/master/Client/app/Modules/test/excell/test-template%20sheets/students.xlsx">this</a> test file with 1000! students
</div>
<br>
<br>
<br>


<!-- <table class="stripped">
  <thead>

  </thead>
<tbody>

</tbody>
</table> -->


{{data-table students=students}}
